@model IEnumerable<AHGEventReg.Models.Session>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h2>Classes</h2>

<table id="sessionsTbl" class="table table-hover table-bordered table-responsive">
    <thead>
        <tr>
            <th>Session</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var session in Model)
        {
            <tr>
                <td>@Html.ActionLink(session.Name, "Details", "Session", new { id = session.Id }, null) </td>
                <td>@session.Location</td>
                <td>@Html.ActionLink("Edit", "ViewEdit", "Session", new { id = session.Id }, null) </td>
            </tr>

        }

    </tbody>


</table>


@using (Html.BeginForm("ViewNew", "Session"))
{
    <button type="submit" class="btn btn-primary">Add New Session</button>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            $('#sessionsTbl').DataTable();
        }
    </script>
}


