@model AHGEventReg.Models.Session
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.ActionLink(@Model.Name, "Details", "Session", new { sessionId = @Model.Id }, null)</h2>

